body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'lato', sans-serif;
}

div.wall {
    width: 30px;
    height: 30px;
    background-color: rgb(12, 67, 184);
}

div.space {
    width: 30px;
    height: 30px;
    background-image: url(./img/detalhe-fundo.png);
    background-size: 30px 30px;
}

div.F {
    width: 30px;
    height: 3;
    background-color: rgb(31, 207, 69);
}

div.S {
    width: 30px;
    height: 30px;
    background-color: rgb(3, 11, 56);
}

section#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 630px;
    padding: 20px 25px 0 20px;
    margin: 0 auto;
}

#player{
    position: relative;
}

#player img{
    width: 23px;
    height: 25px;
    
}